@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #012b4d;

}

body
{
  display: block;
  background-image: url(images/background.jpg);
  background-size: 1440px;
  background-repeat: initial;
 
}

h2
{
    font-weight: 600;font-size: 30px;
    color: #012b4d;
}

.socmed
{
  padding-top: 10px;
}

.icon
{
  width: 30px; 
}


.makecenter
{ align-self: center;
  padding-top: 80px;
  margin: auto;
}


header
{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    z-index: 3;
    transition: 0.6s;
  
}
header .logo
{   
    position: relative;
    font-weight: 700;
    font-style: italic;
    color: #012b4d;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition:0.6s;

}


header .navdesktop
{
    padding-top: 12px;
    margin-left: auto;
}

header li
{   
    display: inline;

}

header li a
{   font-weight: 500;
    color:#012b4d;
    font-size: 20px;
    padding-right: 10px;
    padding-left:10px;
    text-decoration:none;
}

header li a:hover
{
    color:rgb(197, 197, 197);

}

.banner
{
    position: relative;
    width:100%;
    min-height:100vh;
    padding: 40px;
    display:flex;
    align-items:center;
}

.sectionbox
{
    position: relative;
    width:100%;
    min-height:80vh;
    padding: 20px;
    padding-top: 120px;
    display:flex;
    align-items:center;
}



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #012b4d;
    background-color: #012b4d;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-top:40px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #a5d2f7;
    display: block;
    transition: 0.4s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #ffffff;
  }
  
  .overlay .closebtn {
    position: absolute;
    font-size: 60px;
    top:20px;
    right:20px;
  }
  
  @media screen and (max-height: 450px) {

    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    
  }

    
  .menu
  {      
  display: none;
  }

  .content
  {   
      padding-left: 50px;
      max-width: 500px;
      color:#012b4d;
      text-decoration:none;
  }

.content a

  { 
    text-decoration: none;
    color: lightseagreen;
    font-weight: 600;
  }

  .title

  { display: block;
    text-align: center;
    text-shadow: aqua;
    margin-top: -100px;
    margin-bottom: 20px;

  }



/* RESUME SECTION */
.column {
  float: left;
  align-items: center;
  align-self: center;
  width: 33.33%;
  padding: 0 10px;
}


.row {margin: 0 -5px;
  margin: auto;
  width: 100%;
  padding: 10px;
  padding-top: 50px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 2px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
  text-align: center;
}

.card-image {
  width: 100px;
}

.job-title
{
  margin-top: 10px;
  font-weight: 600;
 
}
.job-company
{
  font-weight: 500;
}

.job-date
{ 
  font-weight: 300;
  font-size: 14px;
}

/* END OF SECTION */


/* ABOUT SECTION*/

.card-about
{ 
  margin: auto;
  align-items: center;
  align-self: center;
  max-width: 1000px;

}

.about
{
  text-align: center;
}

.bayu
{
  width: 150px;
}

.mysocmed
{
  text-decoration: none;
}

.mysocmed:hover
{
  color: rgb(197, 197, 197);
}


.skillsec
{
    position: relative;
    width:100%;
    display:flex;
    align-items:center;
}

.skiltext
{
    text-align: left;
}

.skillcolumn {
  float: left;
  align-items: center;
  align-self: center;
  width: 25%;
  padding: 0 10px;
}

.aboutsec
{
  position: relative;
    width:100%;
    min-height:100vh;
    padding: 20px;
    padding-top: 120px;
    display:flex;
    align-items:center;
}

/* END OF SECTION */


/* CONTACT SECTION */


.contactsec
{
    position: relative;
    width:100%;
    min-height:80vh;
    padding: 20px;
    padding-top: 60px;
    display:flex;
    align-items:center;
}

/*END IF THE SECTION */

/*PORTFOLIOSEC */

.portfoliosec
{   
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 2px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    width:100%;
    min-height:80vh;
    padding: 20px;
    display:flex;
    align-items:center;
}

.port-title
{
    font-weight: 600;
    font-size:20px;
    text-align: center;
}

.port-content
{   
    
    width: 800px;
    height: 600px;
    
}

.port-text
{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.linkfigma
{
    text-decoration: none;
    color: lightseagreen;
}
/*END IF THE SECTION */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .skillcolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
  .menu
  {      
  display: block;
  position: relative;
  cursor: pointer;
  color:#012b4d;
  padding-top: 10px;
  z-index: 5;
  }

  header .navdesktop
  {
    display: none;
  }

  .content
  {   
      padding-left: 0px;
  }
  .row {
    padding-top: 100px;}


  .resume{
    padding-top: 150px;
  }

  .skills{
    padding-top: 120px;
  }

  .port-content
  {   
    width: 380px;
    height: 500px;
  }
  
}